<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<form id="upload-form" action="http://159.203.163.147/termImageEdit/english/a" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">

    <strong>Files:</strong><br>
    <input id="file-picker" value="Choose audio file" type="file" name="file" accept="image/*"/>
    <input type="submit" value="Upload!" id="upload-button"/>
</form>
</body>
</html>
